<!DOCTYPE html>
<html>
    <head>
        <title>web page by using bootstrap</title>
     
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


      
        
        
    </head>
    <body>
       <div class="container">
           <div class="row col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>Registration Form</h1>
                    </div>
                    <div class="panel-body">
                        <form method="GET" action="/process">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" id="firstname" name="first">  
                            </div>

                            <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" class="form-control" id="lastname" name="last">  
                                </div>

                            <div class="form-group">
                                        <label for="firstname">Age</label>
                                        <input type="number" class="form-control" id="firstname">  
                            </div>

                            <div class="form-group">
                                    <label for="firstname">Gender</label>
                                    <div>
                                        <label for="male" class="radio-inline"><input type="radio" name="Gender" id="male">Male</label>
                                        <label for="Female" class="radio-inline"><input type="radio" name="Gender" id="Female">Female</label>
                                    </div>
                                    
                        </div>

                            <div class="form-group">
                                    <label for="firstname">Phone Number</label>
                                    <input type="number" class="form-control" id="firstname">  
                            </div>
                            
                            <div class="form-group">
                                    <label for="firstname">Phone Number</label>
                                    <input type="number" class="form-control" id="firstname">  
                            </div>  

                            <div class="form-group">
                                    <label for="firstname">Kebele</label>
                                    <input type="number" class="form-control" id="firstname">  
                            </div> 

                            <div class="form-group">
                                    <label for="firstname">Woreda</label>
                                    <input type="number" class="form-control" id="firstname">  
                            </div> 

                            <div class="form-group">
                                    <label for="firstname">Nationality</label>
                                    <input type="number" class="form-control" id="firstname">
                                    
                            </div> 
                            <div>
                                    <input type="submit" class="btn btn-primary">
                                 </div>
                        </form>
                    </div>
                    <div class="panel-footer text-right"></div>
                </div>
           </div>

       </div>
       
    </body>
</html>